.sidebarOption {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-left: 2px;
  cursor: pointer;
}

.sidebarOption:hover {
  background-color: #340e36;
  opacity: 0.9;
}

.sidebarOption__icon {
  padding: 10px;
  font-size: 15px !important;
  opacity: 0.6;
}

.sidebarOption__channel {
  padding: 10px 0;
}

.sidebarOption__hash {
  padding: 10px;
  padding-left: 12px;
}

.sidebarOption > h3 {
  font-weight: 400;
  opacity: 0.6;
}

.sidebarOption__sub {
  margin-left: 10px;
}

.isOnline > .MuiSvgIcon-root {
  color: green;
}