.user {
  flex: 0.7;
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 150px;
}

.user__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.user__userName {
  display: flex;
  align-items: center;
  text-transform: lowercase;
}

.user__userName > .MuiSvgIcon-root {
  margin-left: 5px;
  font-size: 16px;
}

.user__userName > strong > .MuiSvgIcon-root {
  color: green;
  font-size: 12px;
}

.user__headerRight {
  display: flex;
  align-items: center;
}

.user__headerRight > .MuiSvgIcon-root {
  margin-left: 15px;
  font-size: 16px;
  cursor: pointer;
}

.user__headerRight > .MuiSvgIcon-root:hover {
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
}
