.channel {
  flex: 0.7;
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 150px;
}

.channel__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.channel__channelName {
  display: flex;
  align-items: center;
  text-transform: lowercase;
}

.channel__channelName > .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 16px;
}

.channel__channelName > strong {
  display: flex;
  align-items: center;
}

.channel__channelName > strong > .MuiSvgIcon-root {
  font-size: 14px;
}

.channel__headerRight {
  display: flex;
  align-items: center;
}

.channel__headerRight > .MuiSvgIcon-root {
  margin-left: 15px;
  font-size: 16px;
  cursor: pointer;
}

.channel__headerRight > .MuiSvgIcon-root:hover {
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
}
