.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  color: white;
  background-color: #340e36;
}

.header .MuiSvgIcon-root {
  opacity: 0.6;
}

.header__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header__left > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 20px;
}

.header__middle {
  flex: 0.4;
  background-color: #421f44;
  text-align: center;
  display: flex;
  padding: 0 50px;
  color: gray;
  border: 1px solid gray;
  border-radius: 6px;
}

.header__middle > input {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  min-width: 35vw;
}

.header__middle > input:focus {
  outline: none;
}

.header__right {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.header__right .MuiAvatar-root {
  border-radius: 20%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
