.sidebar {
  color: white;
  background-color: var(--slack-color);
  border-top: 1px solid #49274b;
  max-width: 260px;
  flex: 0.3;
}

.sidebar__header {
  display: flex;
  border: 1px solid #49274b;
  padding: 13px;
  padding-bottom: 10px;
}

.sidebar__header > .MuiSvgIcon-root {
  padding: 8px;
  color: #49274b;
  font-size: 18px;
  background-color: white;
  border-radius: 50%;
}

.sidebar__info {
  flex: 1;
}

.sidebar__info > h2 {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
  cursor: pointer;
}

.sidebar__info > h2 > a {
  text-decoration: none;
  color: white;
}

.sidebar__info > h3 {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
}

.sidebar__info > h3 > .MuiSvgIcon-root {
  font-size: 14px;
  margin-top: 1px;
  margin-right: 2px;
  color: green;
}

.sidebar__options {
  overflow-y: auto;
  height: calc(100vh - 170px);
  min-height: calc(100vh - 150px);
}

.sidebar__options > hr {
  border: 1px solid #49274b;
}

.sidebar__options::-webkit-scrollbar {
  width: 0.8em;
}

.sidebar__options::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar__options::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: none;
  border-radius: 9px;
}

.sidebar__logout {
  width: 100%;
  padding: 10px 0;
  outline: none;
  border: none;
  background-color: #340e36;
  color: white;
  cursor: pointer;
}

