.message {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 5px 20px;
}

.message:hover {
  background-color: #f3f3f3;
}

.message__left .MuiAvatar-root {
  border-radius: 20%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.message__left {
  margin-right: 10px;
}

.message__details a {
  margin-right: 5px;
  color: black;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
}

.message__text {
  font-size: 14px;
}

.message__data {
  display: flex;
  align-items: center;
  flex: 0.7;
}

.message__actions {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0.3;
}

.message__actions__show {
  visibility: visible;
}

.message__actions .MuiSvgIcon-root {
  margin-right: 10px;
  cursor: pointer;
}
